.nav-container {
    width: 100%;
    position: absolute; /* o usa fixed si quieres que esté siempre visible al hacer scroll */
    top: 0;
    left: 0;
    padding: 10px 40px;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
}

.nav-container:hover {
    background-color: rgba(255, 255, 255, 1); /* fondo transparente elegante */
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #000;
}

.nav-left{
    display: flex;
    align-items: center;
    flex:0.1;
}

.nav-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.7;
    font-size: x-large;
    cursor: pointer;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.1;
}

.nav-icons{
    cursor: pointer;
}

.nav-user{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    border-radius: 5%;
    cursor: pointer;
    margin-right: 10px;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 9;
  }
  
  .sidebar-overlay.show {
    opacity: 1;
  }
