.registroMarca-container, .registroProducto-container, .registroLinea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.registroMarca-form, .formulario-registro, .registroLinea-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80%;
  min-height: 600px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  animation: fadeIn 0.5s ease-in-out forwards;
}

.form-top {
  text-transform: uppercase;
}

.form-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form-left, .form-right {
  display: flex;
  flex-direction: column;
  
  height: 90%;
  max-height: 400px;
  justify-content: space-around;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-left::-webkit-scrollbar, .form-right::-webkit-scrollbar {
  width: 8px;
}

.form-left {
  width: 65%;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.form-right {
  width: 35%;
  padding-left: 20px;
}

.registroMarca-form input, 
.formulario-registro input, select,
.formulario-registro select, input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-center label {
  font-size: 16px;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  color: #212c0e;
}

.registroMarca-form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}

.registroMarca-form input, textarea, .formulario-registro input, select,
.registroLinea-form input, select {
  transition: border-color 0.3s ease;
  &:focus {
    border-color: #212c0e;
    outline: none;
  }
}

.registroMarca-form button, .formulario-registro button, .registroLinea-form button {
  width: 100%;
  padding: 10px;
  background-color: #212c0e;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.registroMarca-form button:hover, .formulario-registro button:hover, .registroLinea-form button:hover {
  background-color: #1a1f0b;
}

/* Para el apartado de las imagenes */

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 100%;
  border: 1px dashed #ccc;
  border-radius: 5px;
  margin: 5px;
}
.image-container img {
  width: auto;
  height: 85px;
  border-radius: 5px;
  margin: 10px 0;
  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.presentacion-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.presentacionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  right: 0;
}